/*LOGO*/
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*MENU*/

.menu-list-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, var(--azul-primario), var(--verde-primario));
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease;
}

.menu-list-item:hover::after {
  transform: scaleX(1);
}

.menu-list-item:hover {
  font-weight: 600;
  color: var(--azul-primario);
}

/*BOTÕES*/

.contact-btn:hover, .btn-book-appointment:hover {
  background-position: right center;
  transform: scale(1.05);
}


.services-btn:hover, .close-modal:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 15px rgba(0, 180, 140, 0.5),
    0 0 25px rgba(0, 90, 255, 0.3);
}

/*CTA IMG*/

.main-cta-content-right img:hover {
  transform: scale(1.02);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

/*SERVICES CARDS*/

.services-card:hover {
  opacity: 1;
}
