:root {
    --azul-primario: #2563EB;
    --verde-primario: #10B981;  
    --azul-hover: #1c49aa;
    --verde-hover: #0d835b;
    --preto-fonte-primaria: #1F2937;
    --cinza-fonte-secundaria: #6B7280;
    --branco-bg: #ffffff;
    --azul-bg: #EFF6FF;
    --cinza-margin: #5C5C5C;
}